* {
  padding: 0;
  margin: 0;
}

/* w css do stylowania uzywaj tylko klas, nie stylujemy po znacznikach html lub po id, to jest bardzo zła praktyka i w realnych aplikacjach może prowadzić do poważnych problemów i nadpisywania styli innych elementów */

.wrapper {
  color: #33658a;
  font-family: sans-serif, Arial;
  background-color: #faf2f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.main {
  min-width: 300px;
  max-width: 400px;
  background-color: #eed2cc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 5px 14px -3px rgba(143, 146, 167, 1);
  box-sizing: content-box;
}

.title {
  padding: 10px;
  text-transform: uppercase;
}

.transaction-list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: auto 5px;
}

.income {
  color: #65a969;
  font-weight: bold;
}

.expense {
  color: #e63946;
  font-weight: bold;
}

#balance {
  margin-top: 10px;
  font-weight: bold;
}

#balance.positive {
  color: #65a969;
}

#balance.zero {
  color: #33658a;
}

#balance.negative {
  color: #e63946;
  text-decoration: underline;
}

.label {
  padding: 5px;
}

.form-container {
  margin: 15px auto;
}

.input-field {
  width: calc(100% - 10px);
  padding: 7px;
  margin: 15px auto;
  border: none;
  border-radius: 5px;
  background-color: #faf2f5;
}

.input-field:focus {
  padding: 4px;
  border: 1px solid #33658a;
  outline: none;
}

.add-transaction,
.edit-transaction,
.accept-transaction,
.cancel-transaction,
.delete-transaction {
  background-color: #f28482;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
}

.error-label {
  color: #c81d25;
  font-weight: 600;
  font-size: 18px;
}

span {
  margin-top: 15px;
  margin: 15px 5px 0 5px;
  overflow: hidden;
}

.sticky-top {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #eed2cc;
  padding: 20px;
  border-bottom: 2px solid #33658a;
}

.sticky-bottom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  background-color: #eed2cc;
  padding: 20px;
  border-top: 2px solid #33658a;
}

select {
  border: none;
  border-radius: 3px;
  background-color: #faf2f5;
  padding: 6px;
}

select:focus {
  border: 1px solid #33658a;
  outline: none;
  padding: 5px;
}
