* {
  padding: 0;
  margin: 0;
}

.wrapper {
  font-family: Arial, sans-serif;
  background-color: #faf2f5;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.main {
  width: 300px;
  background-color: #eed2cc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
}

.income {
  color: #2ecc71;
  font-weight: bold;
}

.expense {
  color: #e74c3c;
  font-weight: bold;
}

#balance {
  font-weight: bold;
}

#balance.positive {
  color: #2ecc71;
}

#balance.zero {
  color: #e8998d;
}

#balance.negative {
  color: #e74c3c;
}

.form-container {
  margin: 20px auto;
}

input {
  width: calc(100% - 10px);
  padding: 5px;
  margin: 5px auto;
}

button {
  background-color: #f28482;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
}

span {
  margin-top: 15px;
}
