* {
  padding: 0;
  margin: 0;
}

.wrapper {
  color: #33658a;
  font-family: sans-serif, Arial;
  background-color: #faf2f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.main {
  min-width: 300px;
  max-width: 800px;
  background-color: #eed2cc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 5px 14px -3px rgba(143, 146, 167, 1);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 10px;
  text-transform: uppercase;
}

.inner-container {
  display: flex;
  flex-direction: row;
}

.transaction-section {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.transaction-list {
  margin: 10px;
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  padding: auto 3px;
  width: 390px;
}

.list-item div {
  display: flex;
  gap: 3px;
}

.list-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.income {
  color: #65a969;
  font-weight: bold;
}

.expense {
  color: #e63946;
  font-weight: bold;
}

.balance-summary {
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

#balance.positive {
  color: #65a969;
}

#balance.zero {
  color: #33658a;
}

#balance.negative {
  color: #e63946;
  text-decoration: underline;
}

.label {
  padding: 5px;
}

.form-container {
  margin: 15px auto;
}

.input-field {
  width: calc(100% - 10px);
  padding: 7px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  background-color: #faf2f5;
}

.input-field:focus {
  padding: 6px;
  border: 1px solid #33658a;
  outline: none;
}

.action-button {
  background-color: #f28482;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.error-label {
  color: #c81d25;
  font-weight: 600;
  font-size: 15px;
}

.error-label,
.transaction-details {
  margin: 15px 10px;
  overflow: hidden;
}

.sticky-top {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #eed2cc;
  padding: 15px;
  border: 1px solid #33658a;
  height: 220px;
}

.sticky-bottom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  background-color: #eed2cc;
  padding: 15px;
  border-top: 1px solid #33658a;
  margin-top: auto;
}

.summary {
  margin-bottom: 0;
}
